body {
    margin:5px;
    padding:5px;
    line-height: 1.5em;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

b {
    font-size: 110%;
}
em {
    color: red;
}

#header
{
    background: #ffffff;
    padding: 20px;
}

#header h1 { margin: 0; }

#content
{
    clear: left;
    padding: 1px;
}

#content h2
{
    color: #000;
    font-size: 160%;
    margin: 0 0 .5em;
}

#footer
{
    background: #FFFFFF;
    text-align: left;
    float: left;
    padding: 20px;
    height: 1%;
}

/* table list details */
#list_table
{
    border-collapse:collapse;
    margin:5px;
}

.list_table_float_left
{
    float:left;
    width:40%;
}

.list_table_float_center
{
    width:60%;
}

#list_table td
{
    font-size:0.9em;
    border:1px solid #98bf21;
    padding-left:5px;
}

#list_table tr
{
    background-color:#FFFFFF;
    color:#360;
}

#list_table tr.alt
{
    background-color:#EAF2D3;
    color:#360;
}

#list_table th
{
    font-size:1em;
    text-align:center;
    font-weight: bold;
    border-bottom:4px solid #600;
}


#list_table td.hdr
{
    font-size:1em;
    font-weight: bold;
    text-align:left;
    border-right:4px solid #600;
    padding-left:5px;
}

/* mouse highlitgth */
#list_table tr:hover
{
   background-color:#F0F0F0;
}
/* */

#customers
{
    width:100%;
    border-collapse:collapse;
}

#customers td, #customers th
{
    font-size:0.8em;
    border:1px solid #98bf21;
    padding:2px 5px 1px 5px;
}

#customers th
{
    font-size:1em;
    text-align:center;
    padding-top:4px;
    padding-bottom:3px;
    border-bottom:4px solid #600;
    background-color:#FFFFFF;
    color:#360;
}

#customers tr:hover
{
   background-color:#F0F0F0;
}

#customers tr.alt
{
    color:#000000;
    background-color:#EAF2D3;
}

#customers tr.alt:hover
{
   background-color:#F0F0F0;
}



a.table_header_asc
{
    text-decoration: none;
    font-weight: bold;
    color:#360;
    border-bottom:4px double #33CC00;
}

a.table_header_desc:hover
{
    text-transform:uppercase;
    text-decoration: none;
    font-weight: bold;
    color:#360;
    border-bottom:6px double #33CC00;
    border-top: none;
}

a.table_header_desc
{
    text-decoration: none;
    font-weight: bold;
    color:#360;
    border-top:3px double #33CC00;
}

a.table_header_asc:hover
{
    text-transform:uppercase;
    text-decoration: none;
    font-weight: bold;
    color:#360;
    border-top:6px double #33CC00;
    border-bottom: none;
}


#navigation
{
    float: left;
    width: 100%;
}


.navigation_buttons
{
    float: left;
    display:inline;
    padding: 2px 5px;

    color: #336600;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 130%;
    text-transform: uppercase;
}

.navigation_buttons:hover
{
    color: #33CC00;
    background: #F0F0F0;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    border-bottom: 3px solid #660000;
    color: #336600;
    font-weight: bold;
}

#navigation li a:hover { background: #33CC00; }


#navigation_search
{
    float: left;
    width: 100%;
    background: #FFFFFF;
}

#navigation_search ul
{
    margin: 0;
    padding: 0;
}

#navigation_search ul li
{
    list-style-type: none;
    display: inline;
}

#navigation_search li a
{
    display: block;
    float: left;
    padding: 2px 5px;
    color: #336600;
    text-decoration: none;
    border-bottom: 2px solid #600;
}

#navigation_search li a:hover { background: #F0F0F0; }

