body {
    margin:0;
    padding:0;
    line-height: 1.5em;
    font-family:"helvetica";
    font-size:15px;
}

b {
    font-size: 110%;
}
em {
    color: red;
}


table, td, th {
    border:1px solid black;
}

table {
    width:100%;
    border-collapse:collapse;
}

td {
    padding:2px;
}

.full_td {
    text-align:center;
    padding:5px;
}

.empty_td {
    width:30px;
    text-align:center;
    padding:5px;
}

#topsection {
    background: #EAEAEA;
    height: 90px; /*Height of top section*/
}

#topsection h1 {
    margin: 0;
    padding-top: 15px;
}

#contentwrapper {
    float: left;
    width: 100%;
}

#contentcolumn {
    margin-left: 100px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn {
    float: left;
    width: 100px; /*Width of left column*/
    margin-left: -100%;
}

#footer {
    clear: left;
    width: 100%;
    background: black;
    color: #FFF;
    text-align: center;
    padding: 4px 0;
}

#footer a {
    color: #FFFF80;
}

.innertube {
    margin: 5px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
}
