body {
    margin:0;
    padding:0;
    line-height: 1.5em;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

b {
    font-size: 110%;
}
em {
    color: red;
}

#customers
{
    width:100%;
    border-collapse:collapse;
}
#customers td, #customers th
{
    font-size:0.8em;
    border:1px solid #98bf21;
    padding:2px 5px 1px 5px;
}

#customers th
{
    font-size:1.1em;
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}

#customers tr:hover
{
   background-color:#CCCC66;
}

#customers tr.alt td
{
    color:#000000;
    background-color:#EAF2D3;
}

#topsection {
    background: #33CCCC;
    height: 90px; /*Height of top section*/
}

#topsection h1 {
    margin: 0;
    padding-top: 15px;
}

#contentwrapper {
    float: left;
    width: 100%;
}

#contentcolumn {
    margin-left: 80px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn {
    float: left;
    width: 80px; /*Width of left column*/
    margin-left: -100%;
}

#footer {
    clear: left;
    width: 100%;
    background: #009999;
    color: #FFF;
    text-align: center;
    padding: 4px;
}

#footer a {
    color: #FFFF80;
}

.innertube {
    margin: 2px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
    margin-bottom: 0;
}
