/*
CSS RESET
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main CSS */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    line-height: 1.5em;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}

.errormsg {
    color: #dd4b39;
    font-size:1.0em;
    text-align:center;
}

#slick-login {
	width: 220px;
	height: 155px;
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -110px;
	margin-top: -75px;
}

#slick-login label {
	display: none;
}

.placeholder {
    color: #444;
}

#slick-login input[type="text"],#slick-login input[type="password"] {
	width: 100%;
	height: 40px;
	positon: relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 20px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;
}

#slick-login input[type="text"]:focus,#slick-login input[type="password"]:focus {
	-webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
	box-shadow: inset 0px 2px 0px #a7a7a7;
}

#slick-login input:first-child {
	margin-top: 0px;
}

#slick-login input[type="submit"] {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #006600;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-color: #006600;
	background-image: -webkit-linear-gradient(bottom, #006600 0%, #006600 100%);
	background-image: -moz-linear-gradient(bottom, #006600 0%, #006600 100%);
	background-image: -o-linear-gradient(bottom, #006600 0%, #006600 100%);
	background-image: -ms-linear-gradient(bottom, #006600 0%, #006600 100%);
	background-image: linear-gradient(bottom, #006600 0%, #006600 100%);
	
	-webkit-box-shadow: inset 0px 1px 0px #006600;
	box-shadow: inset 0px 1px 0px #006600;
	
	cursor: pointer;
}

#slick-login input[type="submit"]:hover {
	background-color: #339900;
	background-image: -webkit-linear-gradient(bottom, #339900 0%, #339900 100%);
	background-image: -moz-linear-gradient(bottom, #339900 0%, #339900 100%);
	background-image: -o-linear-gradient(bottom, #339900 0%, #339900 100%);
	background-image: -ms-linear-gradient(bottom, #339900 0%, #339900 100%);
	background-image: linear-gradient(bottom, #339900 0%, #339900 100%);

	-webkit-box-shadow: inset 0px 1px 0px #339900;
	box-shadow: inset 0px 1px 0px #339900;
	margin-top: 10px;
}

#slick-login input[type="submit"]:active {
	background-color: #009900;
	background-image: -webkit-linear-gradient(bottom, #009900 0%, #009900 100%);
	background-image: -moz-linear-gradient(bottom, #009900 0%, #009900 100%);
	background-image: -o-linear-gradient(bottom, #009900 0%, #009900 100%);
	background-image: -ms-linear-gradient(bottom, #009900 0%, #009900 100%);
	background-image: linear-gradient(bottom, #009900 0%, #009900 100%);

	-webkit-box-shadow: inset 0px 1px 0px #009900;
	box-shadow: inset 0px 1px 0px #009900;
}
