<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it-it" xml:lang="it-it" >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{ nome }} gestione impianti accesso</title>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}login_style.css" />
<link rel="icon" type="image/png" href="{{ STATIC_URL }}logo.ico" />

<head>
<body>

{% block content %}
<form id="slick-login" method="post" action="{% load url from future %}"> {% csrf_token %}
<img src="{{ STATIC_URL }}logo.png" alt="Besalba impianti logo" align="bottom" height="100">
{% if form.errors %}
<div class=errormsg>Il nome Utente o la Password sono sbagliate.<br>Controllale e riprova.</div>
{% endif %}
<input type="text" name="username" class="placeholder" placeholder="Nome utente">
<input type="password" name="password" class="placeholder" placeholder="Password">
<input type="submit" value="Entra">
<input type="hidden" name="next" value="/" />
</form>
{% endblock %}

</body>
</html>

