<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<body>

<table width="100%" border="0">

<tr>
<td colspan="2" style="background-color:#FFA500;">
<h1>Main Title of Web Page</h1>
</td>
</tr>

    <tr valign="top">
    
    <td style="background-color:#FFD700;width:10%;text-align:top;">
    <b>Menu</b><br />
    HTML<br />
    CSS<br />
    JavaScript
    </td>
    <td style="background-color:#EEEEEE;height:100%;width:80%;text-align:top;">
    <div id="content" style="background-color:#EEEEEE;height:100%;width:100%;">
        <table border="0">
        {% for cliente in clienti %}
        <tr>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cognome}}</td>
            <td>{{cliente.citta}}</td>
        </tr>
        {% endfor %}
    </div>
    </td>
    
    </tr>

<tr>
<td colspan="2" style="background-color:#FFA500;text-align:center">
Copyright © 2011 W3Schools.com</td>
</tr>
</table>

</body>
</html>