<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it-it" xml:lang="it-it" >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
<title>Gestionale Caldaie</title>
</head>

<body>
<div id="maincontainer">
    <div id="topsection">
        <div class="innertube">
            <h1>Gestionale Caldaie</h1>
        </div>
    </div>

<div id="contentwrapper">
    <div id="contentcolumn">
        <div class="innertube">
        {% if display_data %}
        <table border="0">
        <tr style='background-color:#33CCFF' %}>
            <th>Cod. ID</th>
            <th>Cod. Impianto</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Cod. Fiscale</th>
            <th>Via</th>
            <th>Citta'</th>
            <th>Telefono</th>
            <th>Cellulare</th>
            <th>Mail</th>
            <th>Caldaia</th>
            <th>Modello</th>
            <th>Tipo</th>
            <th>Combustibile</th>
            <th>Data Inst.</th>
            <th>Data Contr.</th>
        </tr>
        {% for cliente in clienti %}
        <tr style={% cycle 'background-color:#EEEEEE' 'background-color:#EEE555' %}>
        {% if cliente.codice_id != None %}
            <td class="full_td">{{cliente.codice_id}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.codice_impianto != None %}
            <td class="full_td">{{cliente.codice_impianto}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.nome != None %}
            <td class="full_td"><a href="{% url scheda_cliente %}?id={{cliente.pk}}">{{cliente.nome}}</a></td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.cognome != None %}
            <td class="full_td"><a href="{% url scheda_cliente %}?id={{cliente.pk}}">{{cliente.cognome}}</a></td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.codice_fiscale != None %}
            <td class="full_td">{{cliente.codice_fiscale}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.via != None %}
            <td class="full_td">{{cliente.via}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.citta != None %}
            <td class="full_td">{{cliente.citta}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.numero_telefono != None %}
            <td class="full_td">{{cliente.numero_telefono}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.numero_cellulare != None %}
            <td class="full_td">{{cliente.numero_cellulare}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.mail != None %}
            <td class="full_td">{{cliente.mail}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.marca_caldaia != None %}
            <td class="full_td">{{cliente.marca_caldaia}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}


        {% if cliente.modello_caldaia != None %}
            <td class="full_td">{{cliente.modello_caldaia}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.tipo != None %}
            <td class="full_td">{{cliente.tipo}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.combustibile != None %}
            <td class="full_td">{{cliente.combustibile}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.data_installazione != None %}
            <td class="full_td">{{cliente.data_installazione|date:"d/m/y"}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        {% if cliente.data_contratto != None %}
            <td class="full_td">{{cliente.data_contratto|date:"d/m/y"}}</td>
        {% else %}
            <td class="empty_td">{{ empty_cell }}</td>
        {% endif %}

        </tr>
        {% endfor %}
        {% else %}
        <b>Stringa di ricerca</b>
        {% endif %}
        </table>
        </div>
    </div>
</div>

<div id="leftcolumn">
    <div class="innertube">
        <b>Menu</b>
    </div>

</div>

<div id="footer">Daniele Basile</div>
