<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it-it" xml:lang="it-it" >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{ nome }} gestione impianti accesso</title>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}login_style.css" />
<link rel="icon" type="image/png" href="{{ STATIC_URL }}logo.ico" />

<script type="text/javascript" src="{{ STATIC_URL }}placeholder.js"></script>

</head>
<body>
<form id="slick-login">
<img src="{{ STATIC_URL }}logo.png" alt="Besalba impianti logo" align="bottom" height="100">
<label for="username">username</label><input type="text" name="username" class="placeholder" placeholder="Nome utente">
<label for="password">password</label><input type="password" name="password" class="placeholder" placeholder="Password">
<input type="submit" value="Entra">
</form>
</body>
</html>
