{% extends "base.html" %}

{% block center_block %}

<div class="row-fluid">
    <h3>{{data}}</h3>

<form class="form-horizontal" action="{% url home %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="well well-small">
        <div class="controls">
            {{ form }}
        </div>
    {% if form.errors %} <div class="alert alert-error">{{form.errors}}</div> {% endif %}

    <input class="btn btn-info btn-large" type="submit" value="Carica"/>
    </div>
</form>

</div>

<hr>
<div class="tabbable">
    <ul class="nav nav-tabs">
        {% for item in items %}
		{% if forloop.first %}
			<li class="active"><a href="#{{item.setting_id}}" data-toggle="tab">{{item.setting_label}}</a></li>
		{% else %}
			<li><a href="#{{item.setting_id}}" data-toggle="tab">{{item.setting_label}}</a></li>
		{% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content">
    {% for item in items %}
			{% if forloop.first %}
            <div class="tab-pane active" id="{{item.setting_id}}">
			{% else %}
            <div class="tab-pane" id="{{item.setting_id}}">
			{% endif %}
                <div class="span5 offset1">
                    <table id=show_sortable_{{item.setting_id}} class="table table-condensed table-bordered">
                        <th style="background-color: #5993A5;vertical-align: middle; color: #F8F8F8; text-align:center;font-size:1.1;font-weight:500;">
                        Mostra
                        </th>
                        <tbody id=items_remove>
                            {% for slide in item.show %}
                                <tr class="sortable_content" id="{{ slide.id }}">
                                    <td>
                                        <a href="#" id=item_sort value="remove-{{item.setting_id}}-{{slide.id}}-{{slide.label}}"><i class="icon-minus-sign"></i>  {{slide.label}}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="span5">
                    <table class="table table-condensed table-bordered">
                        <th style="background-color: #5993A5;vertical-align: middle; color: #F8F8F8; text-align:center;font-size:1.1;font-weight:500;">
                        Nascondi
                        </th>
                        <tbody id=items_add>
                            {% for slide in item.hide %}
                            <tr>
                                <td><a href="#" id=item_sort value="add-{{item.setting_id}}-{{slide.id}}-{{slide.label}}" ><i class="icon-plus-sign"></i>  {{slide.label}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    {% endfor %}
    </div>
</div> <!-- /tabbable -->

{% endblock %}

{% block scripts %}
<script>

{% for item in items %}
$("#show_sortable_{{item.setting_id}}").sortable({
    placeholder: "Show items",
    items: "tr.sortable_content",
    update: function(event,ui) {
        var r = $('#show_sortable_{{item.setting_id}}').sortable('toArray');
        r = r.join('-');
        $.ajax({
            type: "POST",
            url: "/settings/view/",
            data: '{{item.setting_id}}=' + r + '&csrfmiddlewaretoken={{ csrf_token }}&',
        });
        }
}).disableSelection();

{% endfor %}
$("a[id=item_sort]").live('click', function (event) {
        var v = $(this).attr('value').split("-");
        var v_action = v[0];
        var v_set_id = v[1];
        var v_id = v[2];
        var v_label = v[3];
        $(this).parent().parent().remove();
        if (v_action == 'add') {
            var r = "<tr class=\"sortable_content\" id=" + v_id + "><td><a href=\"#\" id=item_sort value=\"remove-" + v_set_id + "-" + v_id + "-" + v_label + "\"><i class=\"icon-minus-sign\"></i>  " + v_label + "</a></td></tr>";
            $("tbody[id=items_remove]").append(r);
        } else {
            var r = "<tr><td><a href=\"#\" id=item_sort value=\"add-" + v_set_id + "-" + v_id + "-" + v_label + "\"><i class=\"icon-plus-sign\"></i>" + v_label + "</a></td></tr>";
            $("tbody[id=items_add]").append(r);
        }

        var r = $('#show_sortable_'+v_set_id).sortable('toArray');
        r = r.join('-');
        $.ajax({
            type: "POST",
            url: "/settings/view/",
            data: v_set_id + '=' + r + '&csrfmiddlewaretoken={{ csrf_token }}&',
        });
        event.preventDefault();
});

</script>
{% endblock %}


